{% extends 'eStore/estore_base.html' %}
{% load static %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
        <div class="container">
			<div class="row">
				<!-- breadcrumb-->
				<div class="col-lg-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li aria-current="page" class="breadcrumb-item active">Architect Registration</li>
						</ol>
					</nav>
				</div>
				<div class="col-lg-3">

					<button type="button" data-toggle="collapse" data-target="#cat_navigation" class="btn btn-outline-secondary navbar-toggler full-width-btn" style="width:100% !important;">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-align-justify"></i>Architects
					</button>

					 <!--
					 *** Registered Architects ***
					_________________________________________________________
					-->
					<div id = "arc_navigation" class="collapse show navbar-collapse">
						<div class="card sidebar-menu mb-4">
							<!--<div class="card-header">
								<h3 class="h4 card-title">Categories</h3>
							</div>-->
							<div class="card-body">
								<ul class="nav navbar-collapse nav-pills flex-column category-menu pull-left">
									<li><span class="badge badge-secondary">{{arc_count}}</span>
									{% for a in architects %}
										<ul class="list-unstyled">
											<li><a href="" class="nav-link">{{a.full_name|title}}</a></li>
										</ul>
									{% endfor prod_categories %}
										<ul class="list-unstyled">
											<li><a href="" class="nav-link">New Registration </a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-md-3-->
				<div class="col-lg-9">
					<div class="box-cat">
						<div class="row">
							<div class="col-md-6">
								<h1>{{arc.full_name}} ({{arc.username}})</h1>
								<p>Email: {{arc.email}}</p>
								<div class="form-group">
									<label for="profile_group">Group</label>
									<input id="profile_group" name="profile_group" 
									type="text" class="form-control" 
									placeholder = "" 
									required
									value = "{{arc.profile_group}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="fromdate"> Effective From: </label>
									<input type="date" class="form-control" id="fromdate" name="fromdate">   
									
									<label for="todate"> To: </label>
									<input type="date" class="form-control" id="todate" name="todate">
								</div>
							</div>
						</div>
					 </div>
					 
					<!-- Category header -->
					<div class="box-cat info-bar">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="company">Company</label>
									<input id="company" name="company" 
									type="text" class="form-control" 
									placeholder = "Enter Company Name" 
									required
									value = "{{arc.company}}">
								</div>
							</div>
							<div class="col-md-12">
								<label for="address_1">Street Address</label>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input id="address_1" name="address_1" 
									type="text" class="form-control" 
									placeholder = "Flat/House No./ Floor / Building" 
									required
									value = "{{arc.address_1}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input id="address_2" name="address_2" 
									type="text" class="form-control"  
									placeholder = "Colony / Street / Locality"
									value = "{{arc.address_2}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="pin_code">Pin Code</label>
									<input id="pin_code" name="pin_code" 
										maxlength= "6" type="text" class="form-control" 
										pattern = "[1-9][0-9]{5}" placeholder = "6 digit pin-code"
										onchange = "getCities(this.value, 'SHIPPING');"
										value = "{{arc.pin_code.pin_code}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="city">City</label>
									<input id="city" name="city" 
									type="text" class="form-control"
									required
									value = "{{arc.city}}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="state">State</label>
									<select id="state" name="state"
											class="form-control">
										{% for st in state_arr %}
											{% if st == shipping_addr.state.state_name %}
												<option value = "{{st}}" selected>{{st}}</option>
											{% else %}
												<option value = "{{st}}">{{st}}</option>
											{% endif %}
										{% endfor %}
									</select>


								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="country">Country</label>
									<select id="country" name="country"
											class="form-control">
										{% for cnt in country_arr %}
											{% if cnt == arc.country.country_name %}
												<option value = "{{cnt}}" selected>{{cnt}}</option>
											{% else %}
												<option value = "{{cnt}}">{{cnt}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="box-footer text-center">
									<button type="submit" class="btn btn-primary">
										Save <i class="fa fa-chevron-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				
	{% endblock sitecontent %}

	
	{% block jscripts %}

	{% endblock jscripts %}
			
	