{% extends 'eStore/estore_base.html' %}
{% load static %}
{% load widget_tweaks %}

	<!-- Only Override the site content block -->
	{% block sitecontent %}

	
    <div id="highlighted-slider" class="container ccontainer">
            <div class="row">
                <div class="col-md-12">
					Already have a business account? 	
						<li class="list-inline-item clickable"><a data-toggle="modal" data-target="#login-modal"><span style = "color:blue"> Login here</span></a></li>
				</div>
			</div>
        <div class="box box-default">
            <div class="box-header with-border row">
                <div class="col-md-3" ><h3>Business-Sign Up</i></h3></div>
				<div class="col-md-9" >
					<div class="quote-leftbar" >
						Do you have volume requirements, are you a business or supplying to a business?
						Create a business account with us and get exciting benefits. Sign up below...
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" novalidate>
                        {% csrf_token %}
						<input hidden name="curr_pg" value="{{request.path}}" >		
                        <div class="row">						
                            <div class="col-sm-4" style="border: 1px solid lightgrey; border-radius: 10px; padding: 5px 10px 10px 10px;">
                                <div class="panel panel-default cpanel cpanel-default">
                                    <div class="w3-container pref-head">
                                        <h4>
                                            Arte'venue Business Account
                                        </h4>
                                    </div>
                                    <div class="w3-container">
                                        {% include 'includes/form.html' %}
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary">Sign Me Up</button> -->
                                </div>
                            </div>
                            
                            <div class="col-sm-8" style="border: 1px solid lightgrey; border-radius: 10px; padding: 5px 10px 10px 10px;;">
                                <div class="panel panel-default cpanel cpanel-default">
                                    <div class="w3-container pref-head">
                                        <h4>Business Profile</h4>
                                    </div>
                                    <div class="w3-container">
										<div class = "row">
											<div class = "col-sm-6 pull-left">
												<div class="form-group">
													{{ businessprofile_form.company.label_tag }}
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.company.errors %}
												
															{% render_field businessprofile_form.company class="form-control is-invalid" %}
															{% for error in businessprofile_form.company.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.company class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.company class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.company.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.company.help_text }}
														</small>
													{% endif %}
												</div>
											</div>

											<div class = "col-sm-6 pull-left">
												<div class="form-group">
													{{ businessprofile_form.contact_name.label_tag }}
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.contact_name.errors %}
												
															{% render_field businessprofile_form.contact_name class="form-control is-invalid" %}
															{% for error in businessprofile_form.contact_name.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.contact_name class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.contact_name class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.contact_name.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.contact_name.help_text }}
														</small>
													{% endif %}
												</div>
											</div>


										</div>

									
										<div class = "row">

											<div class = "col-sm-12">
												<label> Company Address</label>
											</div>
											<div class = "col-sm-6">
												<div class="form-group">
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.address_1.errors %}
												
															{% render_field businessprofile_form.address_1    class="form-control is-invalid" %}
															{% for error in businessprofile_form.address_1.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.address_1    class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.address_1    class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.address_1.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.address_1.help_text }}
														</small>
													{% endif %}
												</div>
											</div>	
											<div class = "col-sm-6">
												<div class="form-group">
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.address_2.errors %}
												
															{% render_field businessprofile_form.address_2    class="form-control is-invalid" %}
															{% for error in businessprofile_form.address_2.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.address_2    class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.address_2    class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.address_2.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.address_2.help_text }}
														</small>
													{% endif %}
												</div>														

											</div>
										</div>
										<div class = "row">
											<div class="form-group col-md-3">
												<!--<label for="inputZip">Zip</label>
												<input type="text" class="form-control" id="inputZip">-->
												<div class="form-group">
													Pin Code
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.pin_code.errors %}
												
															{% render_field businessprofile_form.pin_code class="form-control is-invalid"  %}
															{% for error in businessprofile_form.pin_code.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.pin_code class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.pin_code class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.pin_code.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.pin_code.help_text }}
														</small>
													{% endif %}
												</div>						
											</div>
											<div class = "col-sm-5 pull-left">
												<!--<label> inputCity:</label>
												<div class="form-group">
													<input class="form-control" type="text" class="form-control" id="paddress" placeholder = "inputCity">
												</div>-->
												<div class="form-group">
													City
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.city.errors %}
												
															{% render_field businessprofile_form.city    class="form-control is-invalid" %}
															{% for error in businessprofile_form.city.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.city    class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.city    class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.city.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.city.help_text }}
														</small>
													{% endif %}
												</div>													
												
											</div>
											<div class="form-group col-md-4">
												<div class="form-group">
													State
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.state.errors %}
												
															{% render_field businessprofile_form.state class="form-control is-invalid" %}
															{% for error in businessprofile_form.state.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.state class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.state class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.state.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.state.help_text }}
														</small>
													{% endif %}
												</div>													  
											  
											</div>
										</div>
									
										<div class = "row">
											<div class="form-group col-md-3">
												<!--<label for="inputZip">Zip</label>
												<input type="text" class="form-control" id="inputZip">-->
												<div class="form-group">
													Country
													{% if businessprofile_form.is_bound %}
														{% if businessprofile_form.country.errors %}
												
															{% render_field businessprofile_form.country class="form-control is-invalid"  %}
															{% for error in businessprofile_form.country.errors %}
																<div class="invalid-feedback">
																  {{ error }}
																</div>
															{% endfor %}
												
														{% else %}
															{% render_field businessprofile_form.country class="form-control is-valid" %}
														{% endif %}
													{% else %}
														{% render_field businessprofile_form.country class="form-control" %}
													{% endif %}
												
													{% if businessprofile_form.country.help_text %}
														<small class="form-text text-muted">
															{{ businessprofile_form.country.help_text }}
														</small>
													{% endif %}
												</div>						
											</div>
											<div class = "col-sm-7">
											</div>											
											
											<div class = "col-sm-2">
												Proceed to
												<div class = "text-center">
													<button class = "btn btn-primary " type="submit">Sign Up</button>
												</div>			
											</div>											
										</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>        
                </div>
            </div>
        </div>

    </div>

	
	{% endblock sitecontent %}

	
	{% block jscripts %}
	<script>
    $(document).ready( function(){

        $( "#id_date_of_birth" ).datepicker({
                dateFormat: "yy-mm-dd",
                defaultDate: "-17y",
                changeMonth: true,
                changeYear: true,
                onClose: function( selectedDate ) {
                    $( "#id_birth_date" ).datepicker( "option", "minDate", selectedDate );
                    }
        });
    });
	</script>
	{% endblock jscripts %}
			
	