{% extends 'eStore/estore_base.html' %}
{% load static %}
{% load utils %}
	<!-- Only Override the site content block -->
	{% block sitecontent %}
	<div class="container">
        <div class="row">
			<div class="col-lg-12">
				<!-- breadcrumb-->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'show_cart' %}">Cart</a></li>
						<li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
					</ol>
				</nav>
            </div>
			
		
			<div class="col-lg-12">
				<div id="order-summary" class="box">
					<div class="box-header">
						<h3 class="mb-0">Order summary: <small>Order No. {{order.order_id}}</small></h3>
					</div>
					<div class = "row">
						<div class = "col-sm-3">
							<div class = "col-sm-12">		
								<strong>Order subtotal</strong>
							</div>
							<div class = "col-sm-12">		
								<span class = "ord-row">{{order.sub_total|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-3">
							<div class = "col-sm-12">		
								<strong>Shipping & handling</strong>
							</div>
							<div class = "col-sm-12">		
								<span id ="s-h" class = "ord-row">{{order.shipping_cost|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Tax</strong>
							</div>
							<div class = "col-sm-12">		
								<span class = "ord-row">{{order.tax|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Order Total</strong>
							</div>
							<div class = "col-sm-12">		
								<span id ="ord-total" class = "ord-row"><strong>{{order.order_total|floatformat}}</strong></span>
							</div>
						</div>
						{% if order.discount_amt %}
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Your Saving</strong>
							</div>
							<div class = "col-sm-12">		
								<span style = "color:green">{{order.discount_amt|floatformat}}</span>
							</div>
						</div>
						{% endif %}
					</div>
							
				</div>					
			</div>

			<form id = "addr_form" method="post" action="{% url 'checkout_step1_address' %}">
				{% csrf_token %}
				<input hidden name = "cart_id" value = "{{order.cart_id}}">
				<input hidden name = "sub_total" value = "{{order.sub_total}}">
				<input hidden name = "tax" value = "{{order.tax}}">
				<input hidden name = "disc_amt" value = "{{order.disc_amt}}">
				<button hidden id="addr_btn" type = "submit"></button>
			</form>
			

			
            <div id="checkout" class="col-lg-12">
				<div class="box">
					<form id = "shipping_method_form" method = "post" action="{% url 'checkout_saveAddr_shippingMethod' %}">
						{% csrf_token %}
						<input hidden name = "order_id" value = "{{order_id}}">
						<input hidden name = "cart_id" value = "{{cart_id}}">
						<input hidden name = "sub_total" value = "{{sub_total}}">
						<input hidden name = "tax" value = "{{tax}}">
						<input hidden name = "disc_amt" value = "{{disc_amt}}">
						<input hidden name = "order_total" value = "{{order_total}}">
						<input hidden name = "shipping_cost" value = "$('#s-h').html();">
						<h1>Checkout - Order Confirm</h1>

						<div class="nav flex-column flex-md-row nav-pills text-center">
							<a href="javascript:;" class="nav-link flex-sm-fill text-sm-center" onclick="document.getElementById('addr_btn').click();"> 
								<i class="fa fa-map-marker">                  
								</i>Address
							</a>
							<a href="#" class="nav-link flex-sm-fill text-sm-center"> 
								<i class="fa fa-truck"></i>
								Shipping Method
							</a>
							<!-- <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> 
								<i class="fa fa-money"></i>
								Payment Method
							</a>-->
							<a href="#" class="nav-link flex-sm-fill text-sm-center active"> 
								<i class="fa fa-eye"></i>
								Order Review
							</a>
						</div>
				  


						
						
						<div class="content py-3 m-3">
							{% if msg %}
								<div id = "ship_err_div" class="col-md-12"">
									<div style =" margin: 10px; color:#dc3545; padding:5px; border: 1px solid #dc3545">
									<ul>
										{% for m in msg %}
											<li> {{m}}<li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							
							<div class = "row">


							<div class="table table-responsive">
								<table id = "cartTbl" class="table table-responsive">
									<thead>
										<tr>
											<th width="15%">Name</th>
											<th width="30%">Details</th>
											<th width="15%" style="text-align:right">Unit Price</th>
											<th width="10%" style="text-align:right">Quantity</th>
											<th width="15%" style="text-align:right">Discount</th>
											<th width="15%" style="text-align:right">Total</th>
										</tr>
									</thead>
									<tbody>
										{% for i in usercartitems %}
										<tr>
											<td><img src = "{{i.product__product_image__url}}" style = "width:75px; height:75px; object-fit:contain;">
												<br />
												<!-- <a href="{% url 'product_details' i.product_id %}">
														{{i.product__name}}
												</a> -->
												<div class = "pull-left">
													<button type ="button" class = "btn btn-link pull-left" onclick = "getFramedImg('{{i.product_id}}', '{{i.image_width}}', '{{i.moulding_id}}', '{{i.mount__color}}','{{i.mount_size}}', '{{i.product__product_image__url}}');">
														{{i.product__name}}
													</button>
												</div>
											</td>
											<td>
												{% with width=i.moulding__width_inches %}

												<small>Print on {{i.print_medium_id|title}}, 
												{% if i.moulding_id %}
													Frame {{i.moulding__name }} Total Size: 
													{{ i.image_width|add_width:width }}" X {{i.image_height|add_width:width }}" 
												{% else %}
													Image Size : {{ i.image_width }}" X {{i.image_height }}" 
												{% endif %}
												
												{% if i.mount_id %}
													, {{i.mount_size }}" {{i.mount__name|title }} Mount  
												{% endif %}
												{% if i.acrylic_id %}
													, Acrylic 
												{% endif %}
												</small>
												{% endwith %}
											</td>
											<td style = "text-align:right">
												{{i.item_unit_price}}
											</td>
											<td style = "text-align:right">
												{{i.quantity}}
											</td>
											<!-- <td>{{i.product__price}}</td> -->
											<td style = "text-align:right">
											
												{% if i.promotion__discount_type == "PERCENTAGE" %}
													{{i.promotion__discount_value|floatformat}}%
												{% else %}
													{{i.promotion__discount_value|floatformat}}
												{% endif %}
											</td>
											<td style = "text-align:right">{{i.item_total|floatformat}}</td>

										</tr>
										{% endfor usercartitems %}
									</tbody>
									<tfoot>
										<tr>
											<th colspan="4"><small>Shipping & Handing</small></th>
											<th colspan="2" style = "text-align:right">
												<i class = "fa fa-inr"> </i> <small>{{order.shipping_cost|floatformat}}</small>
											</th>
											<th></th>
										<tr>
											<th colspan="4">Order Total</th>
											<th colspan="2" style = "text-align:right">
												<i class = "fa fa-inr"> </i> {{order.order_total|floatformat}}
											</th>
											<th></th>
										</tr>
									</tfoot>
								</table>
							</div>
							
							
							</div>
							<!-- /.row-->
							<div class="box-footer d-flex justify-content-between"><a href="{% url 'show_cart' %}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Cart</a>
								<button type="submit" class="btn btn-primary">
									Confirm Order & Pay<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<!-- /.box-->
            </div>
			<!-- /.col-lg-9-->
		</div>
		<!-- /.row-->
    </div>

	{% include 'eStore/show-product.html' %}
 
 	{% endblock sitecontent %}
	
	
	{% block jscripts %}
	
	<script>
		function add_ship_handling(ship_handling){
			new_total = {{order_total}} + ship_handling;
			
			$("#s-h").html(ship_handling);
			
			$("#ord-total").html(new_total);
		}
	</script>
	
	
	{% endblock jscripts %}