{% extends 'eStore/estore_base.html' %}
{% load static %}

	<!-- Only Override the site content block -->
	{% block sitecontent %}
	<div class="container">
        <div class="row">
			<div class="col-lg-12">
				<!-- breadcrumb-->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item"><a href="{% url 'show_cart' %}">Cart</a></li>
						<li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
					</ol>
				</nav>
            </div>
			
		
			<div class="col-lg-12">
				<div id="order-summary" class="box">
					<div class="box-header">
						<h3 class="mb-0">Order summary: <small>Order No. {{order_id}}</small></h3>
					</div>
					<div class = "row">
						<div class = "col-sm-3">
							<div class = "col-sm-12">		
								<strong>Order subtotal</strong>
							</div>
							<div class = "col-sm-12">		
								<span class = "ord-row">{{sub_total|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-3">
							<div class = "col-sm-12">		
								<strong>Shipping & handling</strong>
							</div>
							<div class = "col-sm-12">		
								<span id ="s-h" class = "ord-row">TBD</span>
							</div>
						</div>
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Tax</strong>
							</div>
							<div class = "col-sm-12">		
								<span class = "ord-row">{{tax|floatformat}}</span>
							</div>
						</div>
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Order Total</strong>
							</div>
							<div class = "col-sm-12">		
								<span id ="ord-total" class = "ord-row"><strong>{{order_total|floatformat}}</strong></span>
							</div>
						</div>
						{% if disc_amt %}
						<div class = "col-sm-2">
							<div class = "col-sm-12">		
								<strong>Your Saving</strong>
							</div>
							<div class = "col-sm-12">		
								<span style = "color:green">{{disc_amt|floatformat}}</span>
							</div>
						</div>
						{% endif %}
					</div>
							
				</div>					
			</div>

			<form id = "addr_form" method="post" action="{% url 'checkout_step1_address' %}">
				{% csrf_token %}
				<input hidden name = "cart_id" value = "{{cart_id}}">
				<input hidden name = "sub_total" value = "{{sub_total}}">
				<input hidden name = "tax" value = "{{tax}}">
				<input hidden name = "disc_amt" value = "{{disc_amt}}">
				<button hidden id="addr_btn" type = "submit"></button>
			</form>
			

			
            <div id="checkout" class="col-lg-12">
				<div class="box">
					<form id = "shipping_method_form" method = "post" action="{% url 'checkout_step3_order_review' %}">
						{% csrf_token %}
						<input hidden name = "order_id" value = "{{order_id}}">
						<input hidden name = "cart_id" value = "{{cart_id}}">
						<input hidden name = "sub_total" value = "{{sub_total}}">
						<input hidden name = "tax" value = "{{tax}}">
						<input hidden name = "disc_amt" value = "{{disc_amt}}">
						<input hidden name = "order_total" value = "{{order_total}}">
						<input hidden id = "shipping_cost" name = "shipping_cost" value = "0">
						<h1>Checkout - Shipping</h1>

						<div class="nav flex-column flex-md-row nav-pills text-center">
							<a href="javascript:;" class="nav-link flex-sm-fill text-sm-center" onclick="document.getElementById('addr_btn').click();"> 
								<i class="fa fa-map-marker">                  
								</i>Address
							</a>
							<a href="#" class="nav-link flex-sm-fill text-sm-center active"> 
								<i class="fa fa-truck"></i>
								Shipping Method
							</a>
							<!-- <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> 
								<i class="fa fa-money"></i>
								Payment Method
							</a>-->
							<a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> 
								<i class="fa fa-eye"></i>
								Order Review
							</a>
						</div>
				  


						
						
						<div class="content py-3 m-3">
							{% if msg %}
								<div id = "ship_err_div" class="col-md-12"">
									<div style =" margin: 10px; color:#dc3545; padding:5px; border: 1px solid #dc3545">
									<ul>
										{% for m in msg %}
											<li> {{m}}<li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							
							<div class = "row">
								<div class = "col-sm-2">
								</div>
								<div class = "col-sm-9 text_center">
									<table id = "cartTbl" class="table table-responsive">
										<thead>
											<tr>
												<th width="5%">Select</th>
												<th width="15%">Shipping Method</th>
												<th width="15%" style = "text-align:right">Cost</th>
												<th width="30%">Timeline</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<td>
													<div class="radio">
														<input id="radio_priority" name = "radio_shipping" 
															type="radio" class="form-control"
															onchange = "add_ship_handling(250);"
															value = "{{shipping_addr.full_name}}">
													</div>		
												</td>
												<td>
													<div class="form-group box-addr-header">
														<strong> Normal Shipping</strong>
													</div>
												</td>
												<td style = "text-align:right">
													<strong> <i id = "sh_cost" class="fa fa-inr"> 250.00</i></strong>
												</td>
												<td style = "text-align:left">
													<div class = "">Delivers in 10-15 days</div>
												</td>
											</tr>

											<tr>
												<td>
													<div class="radio">
														<input id="radio_priority" name = "radio_shipping" 
															type="radio" class="form-control"
															onchange = "add_ship_handling(500);"
															value = "{{shipping_addr.full_name}}">
													</div>		
												</td>
												<td>
													<div class="form-group box-addr-header">
														<strong> Priority Shipping</strong>
													</div>
												</td>
												<td style = "text-align:right">
													<strong> <i class="fa fa-inr"> 500.00</i></strong>
												</td>
												<td style = "text-align:left">
													<div class = "">Delivers in 5-7 days</div>
												</td>
											</tr>

											<tr>
												<td>
													<div class="radio">
														<input id="radio_pickup" name = "radio_shipping" 
															type="radio" class="form-control"
															onchange = "add_ship_handling(0);"
															value = "{{shipping_addr.full_name}}">
													</div>		
												</td>
												<td>
													<div class="form-group box-addr-header">
														<strong> Store Pickup</strong>
													</div>
												</td>
												<td style = "text-align:right">
													<strong> <i class="fa fa-inr"> 0</i></strong>
												</td>
												<td style = "text-align:left">
													<div class = "">-</div>
												</td>
											</tr>
										</tbody>
									</table>	
								</div>
							</div>
							<!-- /.row-->
							<div class="box-footer d-flex justify-content-between"><a href="{% url 'show_cart' %}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Cart</a>
								<button type="submit" class="btn btn-primary">
									Continue to Order Review<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<!-- /.box-->
            </div>
			<!-- /.col-lg-9-->
		</div>
		<!-- /.row-->
    </div>

	{% include "eStore/fix-error-message.html" %}
 
 	{% endblock sitecontent %}
	
	
	{% block jscripts %}
	
	<script>
		function add_ship_handling(ship_handling){
			new_total = {{order_total}} + ship_handling;
			
			$("#s-h").html(ship_handling);
			$("#shipping_cost").val(ship_handling);
			
			$("#ord-total").html(new_total);
		}
	</script>
	
	
	{% endblock jscripts %}