{% load static %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light ">
			  <a class="navbar-brand" href="{% url 'index' %}"><img src="..img/logo.png"></a>
				<a href="{% url 'show_cart' %}" class="cart_top ml-auto d-xl-none d-lg-none"><img src="images/cart_icon.png"><span>{% if usercart %} {{usercart.quantity}} {%else%} 0</span></a>
			  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Art
					</a>
					{% for main in level0_menuitems %}
						{% if main.name|upper == 'ART' %}
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="#">Art 1</a>
					  <a class="dropdown-item" href="#">Art 2</a>
					</div>
				  </li>
				  
				  <li class="nav-item">
					<a class="nav-link" href="#">Frame</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Sale</a>
				  </li>
				  
				    <li class="nav-item">
					<a class="nav-link" href="#">Wish List</a>
				  </li>
				  
				  <li class="nav-item">
					<a class="nav-link" href="#">For Business</a>
				  </li>
				</ul>
				<form class="form-inline search_form">
				  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
				  <button class="btn btn-outline-success" type="submit"><img src="images/search_head.png"></button>
				</form>
				
				<a href="#" class="cart_top d-xl-block d-lg-block d-none"><img src="images/cart_icon.png"><span>2</span></a>
			  </div>
		  </div>
		</nav>






<!-- Navigation - Logo, menu, search and cart buttons -->
<nav class="navbar navbar-expand-lg">

	<!-- ecom site logo -->
	<a href="{% url 'index' %}" class="navbar-brand home">
		<img src="{% static 'img/artevenuelogo_1.png' %}" alt="logo" class="d-none d-md-inline-block">
		<img src="{% static 'img/artevenuelogo_small.png' %}" alt="{{ecom_site.store_name}}" class="d-inline-block d-md-none">
		<span class="sr-only">{{ecom_site.store_name}} - go to homepage</span>
	</a>
	
	<!-- Search and Cart buttons -->
	<div class="navbar-buttons">
	
		<button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler">
			<span class="sr-only">Toggle search</span>
			<i class="fa fa-search"></i>
		</button>
		<a href="{% url 'show_cart' %}" class="btn btn-outline-secondary navbar-toggler">
			<i class="fa fa-shopping-cart"></i>
		</a>
	</div>
	<!-- END - Search and Cart buttons -->
	
	
	<!-- Menu -->
	<button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler">
		<span class="sr-only">Toggle navigation</span>
		<i class="fa fa-align-justify"></i>
	</button>

		  
	<!--** Navigation to be picked up from DB -->
	<div id="navigation" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			{% for main in level0_menuitems %}
				{% if main.name|upper == 'ART' %}
			
				<li class="nav-item dropdown menu-large">
					<a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
						{{main.name}}<b class="caret"></b>
					</a>
					{% if level1_menuitems %}
					<ul class="dropdown-menu megamenu">
						<li>
							<div class="row">
								{% for level1 in level1_menuitems %}
							
								{% if forloop.counter == 7 %}
									<div class="col-md-12 col-lg-12" 
										style = "border-bottom : 1px dotted #555; padding-bottom:5px; margin-bottom:10px;">
										<h4>More Categories</h4>
									</div>
								{% endif %}
								<div class="col-md-4 col-lg-2">
									<a href="{% url 'category_products' level1.category_id %}" class="nav-link">
										{% if forloop.counter < 7 %}
											{% if level1.url %}
												{% with 'img/'|add:level1.url as image_static %}
												<img class = "img-in-menu " src = "{% static image_static %}" >
												{% endwith %}
											{% endif %}
										{% endif %}
										<div class = "text-center">
											<h5>{{level1.name|title}} <span class = "menu-badge">{{level1.product_product_category__count}}</span></h5>
										</div>
									</a>
									<ul class="list-unstyled mb-3">
									{% for level2 in level2_menuitems %}
									{% if level2.parent_id == level1.category_id %}
										<li class="nav-item"><a href="{% url 'category_products' level2.category_id %}" class="nav-link">{{level2.name|title}}</a></li>
									{% endif %}
									{% endfor level2_menu %}
									</ul>
								</div>


								{% endfor level1_menu %}

								<div class="col-md-6 col-lg-3">
									<h5><a style = "color:black !important; text-decoration:underline;" href="{% url 'show_all_categories' %}" class="nav-link"><i class = ""></i>Show All<i class = ""></i></a></h5>
								</div>

							</div>
						</li>
					</ul>
					{% endif %}
				</li>
				{% endif %}
			{% endfor %}
			

			<li><a href="{% url 'user_image' %}">Frame</a></li>
			<li><a href="">Sale</a></li>
			<li><a href="{% url 'show_wishlist' %}">Wish List</a></li>
			<li><a href="{% url 'business_registration' %}">For Business</a></li>
			<!--<li class="nav-item menu-large">
				<a href="" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
					Sale<b class="caret"></b>
				</a>
			</li>
			<li class="nav-item menu-large">
				<a href="" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
					Business<b class="caret"></b>
				</a>
			</li>
			<li class="nav-item menu-large">
				<a href="" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
					Wish List<b class="caret"></b>
				</a>
			</li>-->
		</ul>	
		
		<div class="navbar-buttons d-flex justify-content-end">
			<form role="search" action = "{% url 'products_by_keywords' %}">
				<div class="input-group">
					<input type="text" placeholder="Ex. Blue Abstract" id ="keywords" name="keywords" class="form-control" required>
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</form>
		
			<!-- /.nav-collapse-->
			<div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block">
				<a href="{% url 'show_cart' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span id="itemsincart">{% if usercart %} {{usercart.quantity}} {%else%} 0 {%endif %} items in cart </span></a>
			</div>
		</div>
		
	
	</div>
</nav>
<!-- Search open up -->
<div id="search" class="collapse">
	<div class="container">
		<form role="search" action = "{% url 'products_by_keywords' %}">
			<div class="input-group">
				<input type="text" placeholder="Ex. Blue Abstract" id ="keywords" name="keywords" class="form-control" required>
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- END - Search open up -->

<!-- END: Navigation - Logo, menu, search and cart buttons -->
<!-- <div class = "container" >
	<div class = "row">
		<div class = "col-sm-6">
			<form role="search" action = "{% url 'products_by_keywords' %}">
				<div class="input-group">
					<input type="text" placeholder="Ex. Blue Abstract" id ="keywords" name="keywords" class="form-control" required>
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>  -->

