{% load static %}
{% if user.is_staff %}
<!-- Navigation - Logo, menu, search and cart buttons -->

	
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="{% url 'store_orders' %}">Order Report</a>
		<a href="{% url 'pending_business_accounts' %}">Approve Business Accounts</a>
		<li class="dropdown-divider"></li>
		<a href="#">eGift</a>
		<a href="{% url 'promotion_products' %}">Promotions</a>
		<li class="dropdown-divider"></li>
		<a href="#">Main Slider Image</a>
		<a href="#">Category Images</a>
		<li class="dropdown-divider"></li>
		<a href="#">Contact Details</a>
		<li class="dropdown-divider"></li>
		<a href="{% url 'import_image_data' %}" class="btn navbar-btn d-none d-lg-inline-block">Import Image Data</a>
	</div>	
	<span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Admin Menu</span>
	
<!--<nav class="admin-navbar navbar-expand-lg">

	
		<div id="navigation" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="">
						Admin Menu <i class = "fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
				</li>

				<li class="nav-item">
					<a href="#">
						Promotions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
				</li>
				<li class=" nav-item">
					<a href="#">
						eGift&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
				</li>
				<li class=" nav-item">
					<a href="#" >
						Change Category Images&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
				</li>
				<li class=" nav-item">
					<a href="#">
						Change Main Slider&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
				</li>
				<ul class="dropdown-menu megamenu">
					<li>
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<h3><a href="" class="nav-link">Promotion</h3>
							</div>
							<div class="col-md-6 col-lg-3">
								<h3><a href="" class="nav-link">eGift</h3>
							</div>
							<div class="col-md-6 col-lg-3">
								<h3><a href="" class="nav-link">Change Category Images</h3>
							</div>

						</div>
					</li>
				</ul> 
			</ul>
			
			<div class="navbar-buttons d-flex">
				<a href="{% url 'import_image_data' %}" class="btn navbar-btn d-none d-lg-inline-block">Import Images</a>
			</div>


	</div> 
</nav>-->


<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
</script>

{% endif %}