{% load static %}
<!-- Navigation - Logo, menu, search and cart buttons -->
<nav class="navbar navbar-expand-lg">

		<!-- ecom site logo -->
		<a href="{% url 'index' %}" class="navbar-brand home">
			<img src="{% static 'img/arteavenue.png' %}" alt="logo" class="d-none d-md-inline-block">
			<img src="{% static 'img/logo-small.png' %}" alt="{{ecom_site.store_name}}" class="d-inline-block d-md-none">
			<span class="sr-only">{{ecom_site.store_name}} - go to homepage</span>
		</a>

		<!-- Search and Cart buttons -->
		<div class="navbar-buttons">
		
			<button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler">
				<span class="sr-only">Toggle search</span>
				<i class="fa fa-search"></i>
			</button>
			<a href="{% url 'show_cart' %}" class="btn btn-outline-secondary navbar-toggler">
				<i class="fa fa-shopping-cart"></i>
			</a>
		</div>
		<!-- END - Search and Cart buttons -->
		
		
		<!-- Menu -->
		<button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-align-justify"></i>
		</button>

			  
		<!--** Navigation to be picked up from DB -->
		<div id="navigation" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				{% for main in level0_menuitems %}
					{% if main.name|upper == 'ART CATEGORIES' %}
				
					<li class="nav-item dropdown menu-large">
						<a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
							{{main.name}}<b class="caret"></b>
						</a>
						{% if level1_menuitems %}
						<ul class="dropdown-menu megamenu">
							<li>
								<div class="row">
									{% for level1 in level1_menuitems %}
								
									<div class="col-md-6 col-lg-3">
										<h5><a href="{% url 'category_products' level1.category_id %}" class="nav-link">{{level1.name|title}} <span class = "menu-badge">{{level1.product_product_category__count}}</span></a></h5>
										<ul class="list-unstyled mb-3">
										{% for level2 in level2_menuitems %}
										{% if level2.parent_id == level1.category_id %}
											<li class="nav-item"><a href="{% url 'category_products' level2.category_id %}" class="nav-link">{{level2.name|title}}</a></li>
										{% endif %}
										{% endfor level2_menu %}
										</ul>
									</div>

									{% endfor level1_menu %}
	
									<div class="col-md-6 col-lg-3">
										<h5><a style = "color:black !important;" href="{% url 'show_all_categories' %}" class="nav-link"><i class = "fa fa-angle-double-left"></i>Show All<i class = "fa fa-angle-double-right"></i></a></h5>
									</div>

								</div>
							</li>
						</ul>
						{% endif %}
					</li>
					{% endif %}
				{% endfor %}
				

				<li><a href="{% url 'user_image' %}">Frame</a></li>
				<li><a href="">Sale</a></li>
				<li><a href="{% url 'business_registration' %}">For Business</a></li>
				<li><a href="{% url 'show_wishlist' %}">Wish List</a></li>
				<!--<li class="nav-item menu-large">
					<a href="" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
						Sale<b class="caret"></b>
					</a>
				</li>
				<li class="nav-item menu-large">
					<a href="" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
						Business<b class="caret"></b>
					</a>
				</li>
				<li class="nav-item menu-large">
					<a href="" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
						Wish List<b class="caret"></b>
					</a>
				</li>-->
			</ul>	
			
			<div class="navbar-buttons d-flex justify-content-end">
				<!-- /.nav-collapse-->
				<div id="search-not-mobile" class="navbar-collapse collapse"></div>
					<a data-toggle="collapse" href="#search" class="btn navbar-btn d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i>
				</a>
				<div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block">
					<a href="{% url 'show_cart' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span id="itemsincart">{% if usercart %} {{usercart.quantity}} {%else%} 0 {%endif %} items in cart </span></a>
				</div>
			</div>
		</div>


</nav>


<!-- Search open up -->
<div id="search" class="collapse">
	<div class="container">
		<form role="search" class="ml-auto" action = "{% url 'products_by_keywords' %}">
			<div class="input-group">
				<input type="text" placeholder="Ex. Blue Abstract Landscape" name="keywords" class="form-control" required>
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- END - Search open up -->
<!-- END: Navigation - Logo, menu, search and cart buttons -->
