<!-- Message Modal -->
<div id="loader-modal" data-backdrop = "static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="Loader" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				Adding to Cart >>>>>>
				<div class="text-center">

					<div class="row">
						<div id="loader">
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="lading"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- END: Message modal -->		