{% load static %}
<div id = "headln">
	
</div>

{% if ecom_site.show_promotion_section %}
<!-- Set the bacground image for the main slider -->
<!--	<div class = "row">
		<div class = "col-md-12" style = "padding:0px;"> -->
			<!--<div id = "main-slider-img">
					<div class="row">
						<div class="col-md-12">
							<div id="main-slider" class="owl-carousel owl-theme">
								{% for slide in slide_array %}
								<div class="item">
									{% with 'img/'|add:slide as image_static %}
									<img src="{% static image_static %}" alt="Image" class="img-fluid">
									{% endwith %}								
								</div>
								{% endfor slide_array %}
							</div>
						</div>
					</div>
			</div> -->
			
			<section class="main_banner">
				<div class="container-fluid">	
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
							<div class="say_colum text-center">
							  <hgroup class="hgroup"><h1>Say It with Walls</h1></hgroup>

							  
							  <a class="btn btn-primary shop_btn" href="#" role="button">Shop Now</a>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
							<div class="say_pic">
								<img src="{% static 'img/main_banner.jpg' %}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</section>			
			
<!--		</div>
	</div> -->
{% endif %}
