{% load static %}
<!-- referral Header -->

<!-- <div id="collections">
	<div class="mt-2 mb-3 py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mb-0 text-center">Refer Us</h2>
					<div class = "text-center">
						<span class = "section-text">
							Refer us to your friends and get rewarded
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
				
</div>
-->

	<section class="main_banner refers_section">
		<div class="container-fluid">	
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="refers_pic">
						<img src="{% static 'img/refer_pic.jpg' %}" class="img-fluid">
					</div>
				</div>
				
				<div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="say_colum text-center">
					  <hgroup class="hgroup"><h1>Refer Us</h1></hgroup>
					  <p>Refer us to your friends and get rewarded
					</p>
					</div>
				</div>
			</div>
		</div>
	</section>