
<div id="show-prod" tabindex="-1" role="dialog" aria-labelledby="Show-Prod" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Your Product</h5>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
					<div class = "col-sm-12">
						<img id = "disp-img" style = "display: block; margin-left: auto; margin-right: auto;" src="" data-action = "zoom" class="img-fluid"/>
					</div>
					<div class = "text-center">
						<button class="btn btn-primary" onclick="$('#show-prod').modal('hide');"><i class="fa fa-chevron-right"></i>Continue</button>
					</div>					


			</div>
		</div>
	</div>
</div>


<script>

		function getFramedImg (prod_id, image_width, moulding_id, mount_color, mount_size, prod_url) {

			//if (moulding_id == "None" || moulding_id == '') {
			//	document.getElementById("disp-img").src = prod_url;
			//	$("#show-prod").modal('show');
			//} else {
				// Get the framed image
				$.ajax({
						url: "{% url 'get_framed_image' %}", 
						data: {'prod_id':prod_id, 'moulding_id': moulding_id,
								'mount_color':mount_color, 'mount_size':mount_size, 'image_width':image_width
							}, 
						dataType: 'text', 
					success: function (data) {
						document.getElementById("disp-img").src = "data:image/png;base64," + data;
						$("#show-prod").modal('show');
						},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText); 
					}
				});

			//}
		}		
		
		function getFramedUserImg (user_image_id, image_width, moulding_id, mount_color, mount_size, prod_url) {

			//if (moulding_id == "None" || moulding_id == '') {
			//	document.getElementById("disp-img").src = prod_url;
			//	$("#show-prod").modal('show');
			//} else {
				// Get the framed image
				$.ajax({
						url: "{% url 'get_FramedUserImage_by_id' %}", 
						data: {'user_image_id':user_image_id, 'moulding_id': moulding_id,
								'mount_color':mount_color, 'mount_size':mount_size, 'image_width':image_width
							}, 
						dataType: 'text', 
					success: function (data) {
						document.getElementById("disp-img").src = "data:image/png;base64," + data;
						$("#show-prod").modal('show');
						},
					error: function(xhr){
						alert("An error occured: " + xhr.status + " " + xhr.statusText); 
					}
				});

			//}
		}	
		
</script>
	
<!-- END: Message modal -->		