{% load static %}
<!-- Featured Category  Header -->

<!--
<div id="collections">
	<div class="mt-2 mb-3 py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mb-0 text-center">Create Your Space</h2>
					<div class = "text-center">
						<span class = "section-text">
							Upload your pictures to our frames and we bring it to your door. 
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="product-slider owl-carousel owl-theme">
		{% for c in featured_collection %}
		<div class="item">  
					{% with 'img/'|add:c.url as image_static %}
					<div class="front"  style="margin:0px 2px 0px 2px !important;">
						<a href="{% url 'category_products' c.category_id %}"> 
							<img src="{% static image_static %}" alt="{{c.name}}" class="img-fluid img-container-cat">
						</a>
					</div>
					{% endwith %}
					<div class="text text-center">
						<h5>
							<a href="{% url 'category_products' c.category_id %}">{{ c.name }}</a>
						</h5>
					</div>
					
		</div>
		{% endfor %}
	</div>						
</div>
-->

	<section class="main_banner create_space">
		<div class="container-fluid">	
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="say_colum text-center">
					  <hgroup class="hgroup"><h1>Create Your Space</h1></hgroup>
					  <p>Choose from our pre-designed collages, upload
						your photos/art or choose from our  stock and we will deliver it to you
						</p>
					</div>
				</div>
				
				<div class="col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">\
					<div class="say_pic">
						<img src="{% static 'img/create_space.jpg' %}" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>