{% load static %}
<!-- Featured Products  Header -->
{% if ecom_site.show_featured_section %}
<div id="collections">
	<div class="mt-2 mb-3 py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mb-0 text-center">{{ecom_site.featured_header}}</h2>
					<div class = "text-center">
						<span class = "section-text">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Featured items slider -->
<div class="">
	<div class="product-slider owl-carousel owl-theme">
		{% for c in trending_categories %}
		<div class="item">  
					{% with 'img/'|add:c.url as image_static %}
					<div class="front"  style="margin:0px 2px 0px 2px !important;">
						<a href="{% url 'category_products' c.category_id %}"> 
							<img src="{% static image_static %}" alt="{{c.name}}" class="img-fluid img-container-cat">
						</a>
					</div>
					{% endwith %}
					<div class="mt-2 trending-cat text text-center">
						<h5>
							<a href="{% url 'category_products' c.category_id %}">{{ c.name|title }}</a>
						</h5>
					</div>
					
		</div>
		{% endfor %}
	</div>						
</div>
{% endif %}